extends layout

block content
  h1= title
  p Greetings, welcome to to #{title}
  
  form(action='http://localhost:3000/store/message', method='post')
    input(type="text", name="message", placeholder="Enter a message", size="40")
    input(type='submit', name='submit', value='Submit')
    
 
